# Sample .travis.yml for R projects

language: r
warnings_are_errors: true
sudo: required

before_install:
  - sudo apt-get install libgdal1-dev

env:
 global:
   - CRAN: http://cran.rstudio.com

notifications:
  email:
    on_success: change
    on_failure: change
